*begin 244
*export skinny.26
*data normal from to tape compass clino ignoreall
*units length metres
*calibrate tape 0.0
*units compass degrees
*calibrate compass 0.0
*units clino degrees
*calibrate clino 0.0
;end generated presettings


*equate skinny.21 gravity.1

*include skinny/skinny.svx
*include gravity/gravity.svx

*end 244
