*begin traun4
*export 23 30
*data normal from to tape compass clino ignoreall
*units length metres
*calibrate tape 0.0
*units compass degrees
*calibrate compass 0.0
*units clino degrees
*calibrate clino 0.0
;end generated presettings



30	39	1.30	213.00	-51.5
39	40	9.39	182.5	-16.0
23	40	2.64	123.0	+03.5


*end traun4
