*begin traun5
*export 22 23
*data normal from to tape compass clino ignoreall
*units length metres
*calibrate tape 0.0
*units compass degrees
*calibrate compass 0.0
*units clino degrees
*calibrate clino 0.0
;end generated presettings



;from	to	tape	compass	clino	; remarks
23	22	3.42	009.0	-39.0


*end traun5
